
@charset "utf-8";

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
} 
 
h1, #pixels{
	font-family: "Helvetica";
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
	color: #FF570D;
}

h2{
	font-family: "Helvetica";
	font-size-adjust:0.531;
	font-weight:200;
	font-style:normal;
}

#header h1, #pixels{
	color: #48941A;
}

#nav{
	list-style: none;
	position: fixed;
	right: 15px;
}

#nav li{
	margin: 0 0 20px 0;	
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(images/intro.png) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	padding: 0;
}

#twitter{
	text-align: center;
}

#second{
	background: url(images/orange.png) 50% 0 no-repeat fixed;
	color: white;
	height: 739px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#second .tip1{
	background: url(images/tip1.png) 50% 0 no-repeat fixed;
	height: 739px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1000px;
	z-index: 200;
}

#third{
	background: url(images/yellow.png) 50% 0 no-repeat fixed;
	height: 739px;
	padding: 100px 0 0 0;	
	overflow: hidden;
}

#third .tip2{
	background: url(images/tip2.png) 50% 0 no-repeat fixed;
	height: 739px;
	width: 1000px;
}

#fourth{
	background: url(images/blue.png) 50% 0 no-repeat fixed;
	color: white;
	height: 739px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#fourth .tip3{
	background: url(images/tip3.png) 50% 0 no-repeat fixed;
	height: 739px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1000px;
	z-index: 200;
}

#fifth{
	background: url(images/orange2.png) 50% 0 no-repeat fixed;
	color: white;
	height: 739px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#fifth .tip4{
	background: url(images/tip4.png) 50% 0 no-repeat fixed;
	height: 739px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1000px;
	z-index: 200;
}

#sixth{
	background: url(images/yellow2.png) 50% 0 no-repeat fixed;
	color: white;
	height: 739px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#sixth .tip5{
	background: url(images/tip5.png) 50% 0 no-repeat fixed;
	height: 739px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1000px;
	z-index: 200;
}

#seventh{
	background: url(images/blue2.png) 50% 0 no-repeat fixed;
	color: white;
	height: 739px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#seventh .tip6{
	background: url(images/tip6.png) 50% 0 no-repeat fixed;
	height: 739px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1000px;
	z-index: 200;
}

#eigth{
	background:url(images/outro.png) 50% 0 repeat fixed;
	color: black;
	height: 450px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

a:link {
	color: black;
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #42C7F4;
	text-decoration: underline;
}

a:active {
	color: #42C7F4;
	text-decoration: underline;
}
